In [19]:
import pandas as pd
from pandas import Series
s = Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s['a'])
print(s[0])

1
1

In [16]:
d = {'um':pd.Series([1.,2.,3.], index=['a','b','c']),
    'dois':pd.Series([1.,2.], index=['a','b'])}

In [17]:

df=pd.DataFrame(d, index=['a','b','c'])

In [18]:
df

   dois   um
a   1.0  1.0
b   2.0  2.0
c   NaN  3.0

In [7]:
df['um']

a    1.0
b    2.0
c    3.0
Name: um, dtype: float64

In [8]:
df['tres'] = df['um'] * 2

In [9]:
df

   dois   um  tres
a   4.0  1.0   2.0
b   5.0  2.0   4.0
c   6.0  3.0   6.0

In [10]:
df['quatro'] = pd.Series([6,7,8],index=['a','b','c'])

In [11]:
df

   dois   um  tres  quatro
a   4.0  1.0   2.0       6
b   5.0  2.0   4.0       7
c   6.0  3.0   6.0       8

In [17]:
df1 = df[0:1]

df1

In [18]:
df1

   dois   um  tres  quatro
a   4.0  1.0   2.0       6

In [20]:
df.pop('um')

a    1.0
b    2.0
c    3.0
Name: um, dtype: float64

In [21]:
df

   dois  tres  quatro
a   4.0   2.0       6
b   5.0   4.0       7
c   6.0   6.0       8

In [22]:
dados = pd.read_csv("arquivo.csv",delimiter=';')

FileNotFoundError: File b'arquivo.csv' does not exist

In [20]:
d={'um':[1.,2.,3.], 'dois':[4.,5.,6.]}
df = pd.DataFrame(d, index=['a','b','c'])
df['tres'] = df['um']*2

In [21]:
df

   dois   um  tres
a   4.0  1.0   2.0
b   5.0  2.0   4.0
c   6.0  3.0   6.0

In [23]:
df.pop('um')

a    1.0
b    2.0
c    3.0
Name: um, dtype: float64

In [24]:
df

   dois  tres
a   4.0   2.0
b   5.0   4.0
c   6.0   6.0