In [2]:
import csv
import pandas as pd
dados = pd.read_csv("funcionarios.csv",delimiter=';')

In [3]:
df2 = dados[0:10]
df2.pop('Meses')

0     3
1    10
2     5
3    10
4     7
5     0
6     0
7     4
8    10
9     6
Name: Meses, dtype: int64

df2

In [7]:
df2.fillna('Sem')

   Funcionario Est.civil    Inst Filhos  Salario  Anos    Regiao
0            1  solteiro  1oGrau    Sem     4.00    26  interior
1            2    casado  1oGrau      1     4.56    32   capital
2            3    casado  1oGrau      2     5.25    36   capital
3            4  solteiro  2oGrau    Sem     5.73    20     outro
4            5  solteiro  1oGrau    Sem     6.26    40     outro
5            6    casado  1oGrau      0     6.66    28  interior
6            7  solteiro  1oGrau    Sem     6.86    41  interior
7            8  solteiro  1oGrau    Sem     7.39    43   capital
8            9    casado  2oGrau      1     7.59    34   capital
9           10  solteiro  2oGrau    Sem     7.44    23     outro

In [17]:
df3 = df2[['Filhos','Salario']]

In [18]:
df3

   Filhos  Salario
0     NaN     4.00
1     1.0     4.56
2     2.0     5.25
3     NaN     5.73
4     NaN     6.26
5     0.0     6.66
6     NaN     6.86
7     NaN     7.39
8     1.0     7.59
9     NaN     7.44

In [20]:
df4 = df2[['Funcionario','Regiao']]

df4

In [22]:
df4[0:5]

   Funcionario    Regiao
0            1  interior
1            2   capital
2            3   capital
3            4     outro
4            5     outro

In [24]:
df3 = dados
df3['salario_100'] = dados['Salario']*100
df3

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,salario_100
0,1,solteiro,1oGrau,NaN,4.00,26,3,interior,400.0
1,2,casado,1oGrau,1.0,4.56,32,10,capital,456.0
2,3,casado,1oGrau,2.0,5.25,36,5,capital,525.0
3,4,solteiro,2oGrau,NaN,5.73,20,10,outro,573.0
4,5,solteiro,1oGrau,NaN,6.26,40,7,outro,626.0
5,6,casado,1oGrau,0.0,6.66,28,0,interior,666.0
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,686.0
7,8,solteiro,1oGrau,NaN,7.39,43,4,capital,739.0
8,9,casado,2oGrau,1.0,7.59,34,10,capital,759.0
9,10,solteiro,2oGrau,NaN,7.44,23,6,outro,744.0
10,11,casado,2oGrau,2.0,8.12,33,6,interior,812.0
11,12,solteiro,1oGrau,NaN,8.46,27,11,capital,846.0
12,13,solteiro,2oGrau,NaN,8.74,37,5,outro,874.0
13,14,casado,1oGrau,3.0,8.95,44,2,outro,895.0
14,15,casado,2oGrau,0.0,9.13,30,5,interior,913.0
15,16,solteiro,2oGrau,NaN,9.35,38,8,outro,935.0
16,17,casado,2oGrau,1.0,9.77,31,7,capital,977.0
17,18,casado,1oGrau,2.0,9.80,39,7,outro,980.0
18,19,solteiro,Superior,NaN,10.53,25,8,interior,1053.0
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,1076.0
20,21,casado,2oGrau,1.0,11.06,30,9,outro,1106.0
21,22,solteiro,2oGrau,NaN,11.59,34,2,capital,1159.0
22,23,solteiro,1oGrau,NaN,12.00,41,0,outro,1200.0
23,24,casado,Superior,0.0,12.79,26,1,outro,1279.0
24,25,casado,2oGrau,2.0,13.23,32,5,interior,1323.0
25,26,casado,2oGrau,2.0,13.60,35,0,outro,1360.0
26,27,solteiro,1oGrau,NaN,13.85,46,7,outro,1385.0
27,28,casado,2oGrau,0.0,14.69,29,8,interior,1469.0
28,29,casado,2oGrau,5.0,14.71,40,6,interior,1471.0
29,30,casado,2oGrau,2.0,15.99,35,10,capital,1599.0
30,31,solteiro,Superior,NaN,16.22,31,5,outro,1622.0
31,32,casado,2oGrau,1.0,16.61,36,4,interior,1661.0
32,33,casado,Superior,3.0,17.26,43,7,capital,1726.0
33,34,solteiro,Superior,NaN,18.75,33,7,capital,1875.0
34,35,casado,2oGrau,2.0,19.40,48,11,capital,1940.0
35,36,casado,Superior,3.0,23.30,42,2,interior,2330.0

In [27]:
df = dados
df[df['Regiao'] == 'interior']

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,salario_100
0,1,solteiro,1oGrau,NaN,4.00,26,3,interior,400.0
5,6,casado,1oGrau,0.0,6.66,28,0,interior,666.0
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,686.0
10,11,casado,2oGrau,2.0,8.12,33,6,interior,812.0
14,15,casado,2oGrau,0.0,9.13,30,5,interior,913.0
18,19,solteiro,Superior,NaN,10.53,25,8,interior,1053.0
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,1076.0
24,25,casado,2oGrau,2.0,13.23,32,5,interior,1323.0
27,28,casado,2oGrau,0.0,14.69,29,8,interior,1469.0
28,29,casado,2oGrau,5.0,14.71,40,6,interior,1471.0
31,32,casado,2oGrau,1.0,16.61,36,4,interior,1661.0
35,36,casado,Superior,3.0,23.30,42,2,interior,2330.0

In [29]:
dados[(dados['Est.civil'] == 'solteiro') & (dados['Regiao']=='interior')]

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,salario_100
0,1,solteiro,1oGrau,NaN,4.00,26,3,interior,400.0
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,686.0
18,19,solteiro,Superior,NaN,10.53,25,8,interior,1053.0
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,1076.0

In [30]:
dados[(dados['Anos']>30)]

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,salario_100
1,2,casado,1oGrau,1.0,4.56,32,10,capital,456.0
2,3,casado,1oGrau,2.0,5.25,36,5,capital,525.0
4,5,solteiro,1oGrau,NaN,6.26,40,7,outro,626.0
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,686.0
7,8,solteiro,1oGrau,NaN,7.39,43,4,capital,739.0
8,9,casado,2oGrau,1.0,7.59,34,10,capital,759.0
10,11,casado,2oGrau,2.0,8.12,33,6,interior,812.0
12,13,solteiro,2oGrau,NaN,8.74,37,5,outro,874.0
13,14,casado,1oGrau,3.0,8.95,44,2,outro,895.0
15,16,solteiro,2oGrau,NaN,9.35,38,8,outro,935.0
16,17,casado,2oGrau,1.0,9.77,31,7,capital,977.0
17,18,casado,1oGrau,2.0,9.80,39,7,outro,980.0
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,1076.0
21,22,solteiro,2oGrau,NaN,11.59,34,2,capital,1159.0
22,23,solteiro,1oGrau,NaN,12.00,41,0,outro,1200.0
24,25,casado,2oGrau,2.0,13.23,32,5,interior,1323.0
25,26,casado,2oGrau,2.0,13.60,35,0,outro,1360.0
26,27,solteiro,1oGrau,NaN,13.85,46,7,outro,1385.0
28,29,casado,2oGrau,5.0,14.71,40,6,interior,1471.0
29,30,casado,2oGrau,2.0,15.99,35,10,capital,1599.0
30,31,solteiro,Superior,NaN,16.22,31,5,outro,1622.0
31,32,casado,2oGrau,1.0,16.61,36,4,interior,1661.0
32,33,casado,Superior,3.0,17.26,43,7,capital,1726.0
33,34,solteiro,Superior,NaN,18.75,33,7,capital,1875.0
34,35,casado,2oGrau,2.0,19.40,48,11,capital,1940.0
35,36,casado,Superior,3.0,23.30,42,2,interior,2330.0

In [31]:
    import pandas as pd
    df1 = pd.DataFrame({'id':[1,2,3,4,5], 'nome':['Pedro','Joao','Ana','Maria','Ivo']})
    df2 = pd.DataFrame({'id':[1,2,3,4,5],'idade':[29,43,21,32,63]})
    df3 = pd.merge(df1,df2, on='id')

In [32]:
df3

   id   nome  idade
0   1  Pedro     29
1   2   Joao     43
2   3    Ana     21
3   4  Maria     32
4   5    Ivo     63

In [33]:
df

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,salario_100
0,1,solteiro,1oGrau,NaN,4.00,26,3,interior,400.0
1,2,casado,1oGrau,1.0,4.56,32,10,capital,456.0
2,3,casado,1oGrau,2.0,5.25,36,5,capital,525.0
3,4,solteiro,2oGrau,NaN,5.73,20,10,outro,573.0
4,5,solteiro,1oGrau,NaN,6.26,40,7,outro,626.0
5,6,casado,1oGrau,0.0,6.66,28,0,interior,666.0
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,686.0
7,8,solteiro,1oGrau,NaN,7.39,43,4,capital,739.0
8,9,casado,2oGrau,1.0,7.59,34,10,capital,759.0
9,10,solteiro,2oGrau,NaN,7.44,23,6,outro,744.0
10,11,casado,2oGrau,2.0,8.12,33,6,interior,812.0
11,12,solteiro,1oGrau,NaN,8.46,27,11,capital,846.0
12,13,solteiro,2oGrau,NaN,8.74,37,5,outro,874.0
13,14,casado,1oGrau,3.0,8.95,44,2,outro,895.0
14,15,casado,2oGrau,0.0,9.13,30,5,interior,913.0
15,16,solteiro,2oGrau,NaN,9.35,38,8,outro,935.0
16,17,casado,2oGrau,1.0,9.77,31,7,capital,977.0
17,18,casado,1oGrau,2.0,9.80,39,7,outro,980.0
18,19,solteiro,Superior,NaN,10.53,25,8,interior,1053.0
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,1076.0
20,21,casado,2oGrau,1.0,11.06,30,9,outro,1106.0
21,22,solteiro,2oGrau,NaN,11.59,34,2,capital,1159.0
22,23,solteiro,1oGrau,NaN,12.00,41,0,outro,1200.0
23,24,casado,Superior,0.0,12.79,26,1,outro,1279.0
24,25,casado,2oGrau,2.0,13.23,32,5,interior,1323.0
25,26,casado,2oGrau,2.0,13.60,35,0,outro,1360.0
26,27,solteiro,1oGrau,NaN,13.85,46,7,outro,1385.0
27,28,casado,2oGrau,0.0,14.69,29,8,interior,1469.0
28,29,casado,2oGrau,5.0,14.71,40,6,interior,1471.0
29,30,casado,2oGrau,2.0,15.99,35,10,capital,1599.0
30,31,solteiro,Superior,NaN,16.22,31,5,outro,1622.0
31,32,casado,2oGrau,1.0,16.61,36,4,interior,1661.0
32,33,casado,Superior,3.0,17.26,43,7,capital,1726.0
33,34,solteiro,Superior,NaN,18.75,33,7,capital,1875.0
34,35,casado,2oGrau,2.0,19.40,48,11,capital,1940.0
35,36,casado,Superior,3.0,23.30,42,2,interior,2330.0

In [1]:
def maiuscula(X):
        return x.upper()

In [5]:
df = dados
df['Regiao'].apply(lambda x:x.upper())

0     INTERIOR
1      CAPITAL
2      CAPITAL
3        OUTRO
4        OUTRO
5     INTERIOR
6     INTERIOR
7      CAPITAL
8      CAPITAL
9        OUTRO
10    INTERIOR
11     CAPITAL
12       OUTRO
13       OUTRO
14    INTERIOR
15       OUTRO
16     CAPITAL
17       OUTRO
18    INTERIOR
19    INTERIOR
20       OUTRO
21     CAPITAL
22       OUTRO
23       OUTRO
24    INTERIOR
25       OUTRO
26       OUTRO
27    INTERIOR
28    INTERIOR
29     CAPITAL
30       OUTRO
31    INTERIOR
32     CAPITAL
33     CAPITAL
34     CAPITAL
35    INTERIOR
Name: Regiao, dtype: object

In [6]:
df

    Funcionario Est.civil      Inst  Filhos  Salario  Anos  Meses    Regiao
0             1  solteiro    1oGrau     NaN     4.00    26      3  interior
1             2    casado    1oGrau     1.0     4.56    32     10   capital
2             3    casado    1oGrau     2.0     5.25    36      5   capital
3             4  solteiro    2oGrau     NaN     5.73    20     10     outro
4             5  solteiro    1oGrau     NaN     6.26    40      7     outro
5             6    casado    1oGrau     0.0     6.66    28      0  interior
6             7  solteiro    1oGrau     NaN     6.86    41      0  interior
7             8  solteiro    1oGrau     NaN     7.39    43      4   capital
8             9    casado    2oGrau     1.0     7.59    34     10   capital
9            10  solteiro    2oGrau     NaN     7.44    23      6     outro
10           11    casado    2oGrau     2.0     8.12    33      6  interior
11           12  solteiro    1oGrau     NaN     8.46    27     11   capital
12           13  solteiro    2oGrau     NaN     8.74    37      5     outro
13           14    casado    1oGrau     3.0     8.95    44      2     outro
14           15    casado    2oGrau     0.0     9.13    30      5  interior
15           16  solteiro    2oGrau     NaN     9.35    38      8     outro
16           17    casado    2oGrau     1.0     9.77    31      7   capital
17           18    casado    1oGrau     2.0     9.80    39      7     outro
18           19  solteiro  Superior     NaN    10.53    25      8  interior
19           20  solteiro    2oGrau     NaN    10.76    37      4  interior
20           21    casado    2oGrau     1.0    11.06    30      9     outro
21           22  solteiro    2oGrau     NaN    11.59    34      2   capital
22           23  solteiro    1oGrau     NaN    12.00    41      0     outro
23           24    casado  Superior     0.0    12.79    26      1     outro
24           25    casado    2oGrau     2.0    13.23    32      5  interior
25           26    casado    2oGrau     2.0    13.60    35      0     outro
26           27  solteiro    1oGrau     NaN    13.85    46      7     outro
27           28    casado    2oGrau     0.0    14.69    29      8  interior
28           29    casado    2oGrau     5.0    14.71    40      6  interior
29           30    casado    2oGrau     2.0    15.99    35     10   capital
30           31  solteiro  Superior     NaN    16.22    31      5     outro
31           32    casado    2oGrau     1.0    16.61    36      4  interior
32           33    casado  Superior     3.0    17.26    43      7   capital
33           34  solteiro  Superior     NaN    18.75    33      7   capital
34           35    casado    2oGrau     2.0    19.40    48     11   capital
35           36    casado  Superior     3.0    23.30    42      2  interior

In [23]:
import csv
import pandas as pd
idh = pd.read_csv("cidades_idh.csv",delimiter=';')
nomes = pd.read_csv("cidades_nomes.csv",delimiter=';')
df3 = pd.merge(idh, nomes, on='id')
df3[(df3['UF']== ' Sao Paulo')]

      id    # IDHM (2010)                 Municipio          UF
0      1    1       0,862        Sao Caetano do Sul   Sao Paulo
1      2    2       0,854        Aguas de Sao Pedro   Sao Paulo
5      6    6        0,84                    Santos   Sao Paulo
10    11   11       0,822                   Jundiai   Sao Paulo
11    12   12       0,819                  Valinhos   Sao Paulo
12    13   13       0,817                   Vinhedo   Sao Paulo
13    14   14       0,815               Santo Andre   Sao Paulo
14    15   15       0,815                Araraquara   Sao Paulo
15    16   16       0,814       Santana de Parnaiba   Sao Paulo
17    18   18       0,812             Ilha Solteira   Sao Paulo
18    19   19       0,811                 Americana   Sao Paulo
23    24   24       0,807       Sao Jose dos Campos   Sao Paulo
25    26   25       0,806       Presidente Prudente   Sao Paulo
27    28   28       0,805                 Sao Paulo   Sao Paulo
28    29   28       0,805                     Assis   Sao Paulo
29    30   28       0,805                  Campinas   Sao Paulo
30    31   28       0,805     Sao Bernardo do Campo   Sao Paulo
32    33   28       0,805                Sao Carlos   Sao Paulo
33    34   34       0,803                 Rio Claro   Sao Paulo
36    37   37       0,801                     Bauru   Sao Paulo
38    39   37       0,801              Pirassununga   Sao Paulo
41    42   40         0,8                   Taubate   Sao Paulo
42    43   40         0,8            Ribeirao Preto   Sao Paulo
43    44   40         0,8                  Botucatu   Sao Paulo
46    47   47       0,798                   Marilia   Sao Paulo
47    48   47       0,798                  Sorocaba   Sao Paulo
48    49   47       0,798             Guaratingueta   Sao Paulo
49    50   50       0,797     Sao Joao da Boa Vista   Sao Paulo
50    51   50       0,797     Sao Jose do Rio Preto   Sao Paulo
51    52   50       0,797             Fernandopolis   Sao Paulo
57    58   56       0,795                  Paulinia   Sao Paulo
60    61   61       0,793                  Holambra   Sao Paulo
63    64   62       0,791               Nova Odessa   Sao Paulo
65    66   62       0,791                  Saltinho   Sao Paulo
66    67   67        0,79               Votuporanga   Sao Paulo
67    68   67        0,79   Santa Cruz da Conceicao   Sao Paulo
68    69   67        0,79                Adamantina   Sao Paulo
70    71   71       0,789         Candido Rodrigues   Sao Paulo
72    73   71       0,789                  Barretos   Sao Paulo
77    78   76       0,788                 Aracatuba   Sao Paulo
78    79   76       0,788              Barra Bonita   Sao Paulo
79    80   76       0,788                  Cacapava   Sao Paulo
80    81   76       0,788                  Cruzeiro   Sao Paulo
81    82   76       0,788                Indaiatuba   Sao Paulo
82    83   76       0,788                 Mairipora   Sao Paulo
85    86   85       0,787  Espirito Santo do Pinhal   Sao Paulo
86    87   87       0,786                   Barueri   Sao Paulo
87    88   87       0,786                      Lins   Sao Paulo
88    89   87       0,786                   Pompeia   Sao Paulo
91    92   92       0,785                    Amparo   Sao Paulo
92    93   92       0,785                 Catanduva   Sao Paulo
93    94   92       0,785           Monte Aprazivel   Sao Paulo
94    95   92       0,785                Piracicaba   Sao Paulo
95    96   92       0,785                  Tremembe   Sao Paulo
100  101  100       0,784                     Aruja   Sao Paulo
101  102  100       0,784                Jaguariuna   Sao Paulo
102  103  100       0,784                Moji Mirim   Sao Paulo
103  104  100       0,784            Ribeirao Pires   Sao Paulo
104  105  100       0,784           Santa Fe do Sul   Sao Paulo

In [17]:
df3

      id    # IDHM (2010)                 Municipio                   UF
0      1    1       0,862        Sao Caetano do Sul            Sao Paulo
1      2    2       0,854        Aguas de Sao Pedro            Sao Paulo
2      3    3       0,847             Florianopolis       Santa Catarina
3      4    4       0,845        Balneario Camboriu       Santa Catarina
4      5    5       0,845                   Vitoria       Espirito Santo
5      6    6        0,84                    Santos            Sao Paulo
6      7    7       0,837                   Niteroi       Rio de Janeiro
7      8    8       0,827                   Joacaba       Santa Catarina
8      9    9       0,824                  Brasilia     Distrito Federal
9     10   10       0,823                  Curitiba               Parana
10    11   11       0,822                   Jundiai            Sao Paulo
11    12   12       0,819                  Valinhos            Sao Paulo
12    13   13       0,817                   Vinhedo            Sao Paulo
13    14   14       0,815               Santo Andre            Sao Paulo
14    15   15       0,815                Araraquara            Sao Paulo
15    16   16       0,814       Santana de Parnaiba            Sao Paulo
16    17   17       0,813                 Nova Lima         Minas Gerais
17    18   18       0,812             Ilha Solteira            Sao Paulo
18    19   19       0,811                 Americana            Sao Paulo
19    20   20        0,81            Belo Horizonte         Minas Gerais
20    21   21       0,809                  Sao Jose       Santa Catarina
21    22   21       0,809                 Joinville       Santa Catarina
22    23   23       0,808                   Maringa               Parana
23    24   24       0,807       Sao Jose dos Campos            Sao Paulo
24    25   25       0,806                  Blumenau       Santa Catarina
25    26   25       0,806       Presidente Prudente            Sao Paulo
26    27   25       0,806               Rio Fortuna       Santa Catarina
27    28   28       0,805                 Sao Paulo            Sao Paulo
28    29   28       0,805                     Assis            Sao Paulo
29    30   28       0,805                  Campinas            Sao Paulo
..   ...  ...         ...                       ...                  ...
79    80   76       0,788                  Cacapava            Sao Paulo
80    81   76       0,788                  Cruzeiro            Sao Paulo
81    82   76       0,788                Indaiatuba            Sao Paulo
82    83   76       0,788                 Mairipora            Sao Paulo
83    84   76       0,788                  Criciuma       Santa Catarina
84    85   85       0,787                   Itajuba         Minas Gerais
85    86   85       0,787  Espirito Santo do Pinhal            Sao Paulo
86    87   87       0,786                   Barueri            Sao Paulo
87    88   87       0,786                      Lins            Sao Paulo
88    89   87       0,786                   Pompeia            Sao Paulo
89    90   87       0,786               Porto Uniao       Santa Catarina
90    91   87       0,786                 Garibaldi    Rio Grande do Sul
91    92   92       0,785                    Amparo            Sao Paulo
92    93   92       0,785                 Catanduva            Sao Paulo
93    94   92       0,785           Monte Aprazivel            Sao Paulo
94    95   92       0,785                Piracicaba            Sao Paulo
95    96   92       0,785                  Tremembe            Sao Paulo
96    97   92       0,785                     Casca    Rio Grande do Sul
97    98   92       0,785                Nova Araca    Rio Grande do Sul
98    99   92       0,785                    Cuiaba          Mato Grosso
99   100  100       0,784              Campo Grande   Mato Grosso do Sul
100  101  100       0,784                     Aruja            Sao Paulo
101  102  100       0,784                Jaguariuna            Sao Paulo
102  103  100       0,784                Moji Mirim            Sao Paulo
103  104  100       0,784            Ribeirao Pires            Sao Paulo
104  105  100       0,784           Santa Fe do Sul            Sao Paulo
105  106  100       0,784              Salto Veloso       Santa Catarina
106  107  100       0,784                     Timbo       Santa Catarina
107  108  100       0,784                     Ivoti    Rio Grande do Sul
108  109  100       0,784               Santa Maria    Rio Grande do Sul

[109 rows x 5 columns]

In [9]:
nomes

      id    # IDHM (2010)
0      1    1       0,862
1      2    2       0,854
2      3    3       0,847
3      4    4       0,845
4      5    5       0,845
5      6    6        0,84
6      7    7       0,837
7      8    8       0,827
8      9    9       0,824
9     10   10       0,823
10    11   11       0,822
11    12   12       0,819
12    13   13       0,817
13    14   14       0,815
14    15   15       0,815
15    16   16       0,814
16    17   17       0,813
17    18   18       0,812
18    19   19       0,811
19    20   20        0,81
20    21   21       0,809
21    22   21       0,809
22    23   23       0,808
23    24   24       0,807
24    25   25       0,806
25    26   25       0,806
26    27   25       0,806
27    28   28       0,805
28    29   28       0,805
29    30   28       0,805
..   ...  ...         ...
79    80   76       0,788
80    81   76       0,788
81    82   76       0,788
82    83   76       0,788
83    84   76       0,788
84    85   85       0,787
85    86   85       0,787
86    87   87       0,786
87    88   87       0,786
88    89   87       0,786
89    90   87       0,786
90    91   87       0,786
91    92   92       0,785
92    93   92       0,785
93    94   92       0,785
94    95   92       0,785
95    96   92       0,785
96    97   92       0,785
97    98   92       0,785
98    99   92       0,785
99   100  100       0,784
100  101  100       0,784
101  102  100       0,784
102  103  100       0,784
103  104  100       0,784
104  105  100       0,784
105  106  100       0,784
106  107  100       0,784
107  108  100       0,784
108  109  100       0,784

[109 rows x 3 columns]

In [16]:
df = dados
df['Regiao'].apply(
    lambda x: 
        x.upper())

0     INTERIOR
1      CAPITAL
2      CAPITAL
3        OUTRO
4        OUTRO
5     INTERIOR
6     INTERIOR
7      CAPITAL
8      CAPITAL
9        OUTRO
10    INTERIOR
11     CAPITAL
12       OUTRO
13       OUTRO
14    INTERIOR
15       OUTRO
16     CAPITAL
17       OUTRO
18    INTERIOR
19    INTERIOR
20       OUTRO
21     CAPITAL
22       OUTRO
23       OUTRO
24    INTERIOR
25       OUTRO
26       OUTRO
27    INTERIOR
28    INTERIOR
29     CAPITAL
30       OUTRO
31    INTERIOR
32     CAPITAL
33     CAPITAL
34     CAPITAL
35    INTERIOR
Name: Regiao, dtype: object

In [20]:
df['Reg-Int']=df.apply(
    lambda row: 
        row['Regiao']+row['Inst'], axis=1)

In [21]:
df

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,Reg-Int
0,1,solteiro,1oGrau,NaN,4.00,26,3,interior,interior1oGrau
1,2,casado,1oGrau,1.0,4.56,32,10,capital,capital1oGrau
2,3,casado,1oGrau,2.0,5.25,36,5,capital,capital1oGrau
3,4,solteiro,2oGrau,NaN,5.73,20,10,outro,outro2oGrau
4,5,solteiro,1oGrau,NaN,6.26,40,7,outro,outro1oGrau
5,6,casado,1oGrau,0.0,6.66,28,0,interior,interior1oGrau
6,7,solteiro,1oGrau,NaN,6.86,41,0,interior,interior1oGrau
7,8,solteiro,1oGrau,NaN,7.39,43,4,capital,capital1oGrau
8,9,casado,2oGrau,1.0,7.59,34,10,capital,capital2oGrau
9,10,solteiro,2oGrau,NaN,7.44,23,6,outro,outro2oGrau
10,11,casado,2oGrau,2.0,8.12,33,6,interior,interior2oGrau
11,12,solteiro,1oGrau,NaN,8.46,27,11,capital,capital1oGrau
12,13,solteiro,2oGrau,NaN,8.74,37,5,outro,outro2oGrau
13,14,casado,1oGrau,3.0,8.95,44,2,outro,outro1oGrau
14,15,casado,2oGrau,0.0,9.13,30,5,interior,interior2oGrau
15,16,solteiro,2oGrau,NaN,9.35,38,8,outro,outro2oGrau
16,17,casado,2oGrau,1.0,9.77,31,7,capital,capital2oGrau
17,18,casado,1oGrau,2.0,9.80,39,7,outro,outro1oGrau
18,19,solteiro,Superior,NaN,10.53,25,8,interior,interiorSuperior
19,20,solteiro,2oGrau,NaN,10.76,37,4,interior,interior2oGrau
20,21,casado,2oGrau,1.0,11.06,30,9,outro,outro2oGrau
21,22,solteiro,2oGrau,NaN,11.59,34,2,capital,capital2oGrau
22,23,solteiro,1oGrau,NaN,12.00,41,0,outro,outro1oGrau
23,24,casado,Superior,0.0,12.79,26,1,outro,outroSuperior
24,25,casado,2oGrau,2.0,13.23,32,5,interior,interior2oGrau
25,26,casado,2oGrau,2.0,13.60,35,0,outro,outro2oGrau
26,27,solteiro,1oGrau,NaN,13.85,46,7,outro,outro1oGrau
27,28,casado,2oGrau,0.0,14.69,29,8,interior,interior2oGrau
28,29,casado,2oGrau,5.0,14.71,40,6,interior,interior2oGrau
29,30,casado,2oGrau,2.0,15.99,35,10,capital,capital2oGrau
30,31,solteiro,Superior,NaN,16.22,31,5,outro,outroSuperior
31,32,casado,2oGrau,1.0,16.61,36,4,interior,interior2oGrau
32,33,casado,Superior,3.0,17.26,43,7,capital,capitalSuperior
33,34,solteiro,Superior,NaN,18.75,33,7,capital,capitalSuperior
34,35,casado,2oGrau,2.0,19.40,48,11,capital,capital2oGrau
35,36,casado,Superior,3.0,23.30,42,2,interior,interiorSuperior

In [22]:
def convert_int(linha):
    if linha['Inst']=='1oGrau':
        return 'Fundamental'
    elif linha ['Inst']=='2oGrau':
        return 'Medio'
df['Inst']=df.apply(convert_int,axis=1)

In [23]:
df

,Funcionario,Est.civil,Inst,Filhos,Salario,Anos,Meses,Regiao,Reg-Int
0,1,solteiro,Fundamental,NaN,4.00,26,3,interior,interior1oGrau
1,2,casado,Fundamental,1.0,4.56,32,10,capital,capital1oGrau
2,3,casado,Fundamental,2.0,5.25,36,5,capital,capital1oGrau
3,4,solteiro,Medio,NaN,5.73,20,10,outro,outro2oGrau
4,5,solteiro,Fundamental,NaN,6.26,40,7,outro,outro1oGrau
5,6,casado,Fundamental,0.0,6.66,28,0,interior,interior1oGrau
6,7,solteiro,Fundamental,NaN,6.86,41,0,interior,interior1oGrau
7,8,solteiro,Fundamental,NaN,7.39,43,4,capital,capital1oGrau
8,9,casado,Medio,1.0,7.59,34,10,capital,capital2oGrau
9,10,solteiro,Medio,NaN,7.44,23,6,outro,outro2oGrau
10,11,casado,Medio,2.0,8.12,33,6,interior,interior2oGrau
11,12,solteiro,Fundamental,NaN,8.46,27,11,capital,capital1oGrau
12,13,solteiro,Medio,NaN,8.74,37,5,outro,outro2oGrau
13,14,casado,Fundamental,3.0,8.95,44,2,outro,outro1oGrau
14,15,casado,Medio,0.0,9.13,30,5,interior,interior2oGrau
15,16,solteiro,Medio,NaN,9.35,38,8,outro,outro2oGrau
16,17,casado,Medio,1.0,9.77,31,7,capital,capital2oGrau
17,18,casado,Fundamental,2.0,9.80,39,7,outro,outro1oGrau
18,19,solteiro,None,NaN,10.53,25,8,interior,interiorSuperior
19,20,solteiro,Medio,NaN,10.76,37,4,interior,interior2oGrau
20,21,casado,Medio,1.0,11.06,30,9,outro,outro2oGrau
21,22,solteiro,Medio,NaN,11.59,34,2,capital,capital2oGrau
22,23,solteiro,Fundamental,NaN,12.00,41,0,outro,outro1oGrau
23,24,casado,None,0.0,12.79,26,1,outro,outroSuperior
24,25,casado,Medio,2.0,13.23,32,5,interior,interior2oGrau
25,26,casado,Medio,2.0,13.60,35,0,outro,outro2oGrau
26,27,solteiro,Fundamental,NaN,13.85,46,7,outro,outro1oGrau
27,28,casado,Medio,0.0,14.69,29,8,interior,interior2oGrau
28,29,casado,Medio,5.0,14.71,40,6,interior,interior2oGrau
29,30,casado,Medio,2.0,15.99,35,10,capital,capital2oGrau
30,31,solteiro,None,NaN,16.22,31,5,outro,outroSuperior
31,32,casado,Medio,1.0,16.61,36,4,interior,interior2oGrau
32,33,casado,None,3.0,17.26,43,7,capital,capitalSuperior
33,34,solteiro,None,NaN,18.75,33,7,capital,capitalSuperior
34,35,casado,Medio,2.0,19.40,48,11,capital,capital2oGrau
35,36,casado,None,3.0,23.30,42,2,interior,interiorSuperior